/.project
/.settings/org.eclipse.m2e.core.prefs
/schedual-client/.classpath
/schedual-client/.project
/schedual-client/.settings/org.eclipse.core.resources.prefs
/schedual-client/.settings/org.eclipse.jdt.core.prefs
/schedual-client/.settings/org.eclipse.m2e.core.prefs
/schedual-server/target
/schedual-sample/target
/schedual-client/target
/schedual-server/.classpath
/schedual-server/.project
/schedual-server/.settings/.jsdtscope
/schedual-server/.settings/org.eclipse.core.resources.prefs
/schedual-server/.settings/org.eclipse.jdt.core.prefs
/schedual-server/.settings/org.eclipse.m2e.core.prefs
/schedual-server/.settings/org.eclipse.wst.common.component
/schedual-server/.settings/org.eclipse.wst.common.project.facet.core.xml
/schedual-server/.settings/org.eclipse.wst.jsdt.ui.superType.container
/schedual-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
/schedual-server/.settings/org.eclipse.wst.validation.prefs
/schedual-sample/*.classpath
/schedual-sample/*.project
/schedual-sample/.settings/*.prefs
/master.txt
